@charset "UTF-8";

.column-layout .property {
    width: 30%;
    display: inline-block;
    box-sizing: border-box;
    text-align: left;
    vertical-align: top;
}

.column-layout .value {
    text-align: left;
    padding-left: 10px;
    width: 70%;
    display: inline-block;
    box-sizing: border-box;
}

#signature-pic {
    width: 150px;
    height: auto;
  }

.social-icons {
    display: flex;
}

.social-icons a {
    text-decoration: none;
    margin-right: 5px;
}

.image {
    width: 300px;
}

.language-switch {
  text-align: right;
  margin: 10px;
}

.language-switch a {
  margin-left: 10px;
}

.language-switch img {
  width: 30px;
  vertical-align: middle;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.language-switch img:hover {
  transform: scale(1.1);
}

